<!doctype html>
<html hx-ext="client-side-templates, response-targets">
  <head>
    <title>Event Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/calendar.png" />
    <link href="/dist/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/output.css" rel="stylesheet" />
    <script src="/common.js"></script>
    <script src="/dist/htmx.min.js"></script>
    <script src="/dist/client-side-templates.js"></script>
    <script src="/dist/response-targets.js"></script>
    <script src="/dist/mustache.min.js"></script>
    <script src="/dist/fullcalendar.min.js"></script>
  </head>
  <body>
    <div class="menu sm:flex sm:flex-wrap gap-4">
      <h1>
        <a href="/">Event Tracker</a>
      </h1>
      <div class="grow flex flex-wrap gap-4 items-center justify-end">
        <div>
          <a
            href="/feed/calendar"
            class="icon-baseline icon-space-sm icon-before icon-regular icon-calendar"
            >ical</a
          >
        </div>
        <input
          class="form-control"
          type="search"
          name="term"
          placeholder="Begin typing to search events..."
          size="30"
          hx-get="/events/search"
          hx-trigger="load, input changed delay:500ms, search, events-updated from:body"
          hx-target="#events"
          hx-target-error="#notifications-catch"
          mustache-template="event-template"
        />
        <div
          id="drop_zone"
          ondrop="dropHandler(event);"
          ondragover="dragOverHandler(event);"
          ondragenter="dragEnterHandler(event);"
          ondragleave="dragLeaveHandler(event);"
          class="icon-baseline icon-space-sm icon-before icon-solid icon-upload"
        >
          <input
            class="hidden"
            type="file"
            id="event-upload"
            name="file"
            multiple=""
            hx-trigger="drop"
            hx-encoding="multipart/form-data"
            hx-post="/events"
            hx-target="#notifications-catch"
            hx-target-error="#notifications-catch"
            mustache-template="notification-template"
          />
        </div>
      </div>
    </div>
    <div id="notifications"></div>
    <div id="notifications-catch" class="hidden"></div>

    <div class="content">
      <div class="inner-form" id="calendar"></div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var calendarEl = document.getElementById("calendar");
          var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            locale: Intl.DateTimeFormat().resolvedOptions().locale,
            firstDay: 1,
            height: 550,
            events: "/feed/events",
          });
          calendar.render();
        });
      </script>

      <div class="inner-form">
        <table>
          <thead>
            <tr>
              <th class="w-1/4">Summary</th>
              <th class="w-1/3">Date</th>
              <th class="w-1/3">Categories</th>
              <th class="">&nbsp;</th>
            </tr>
          </thead>
          <tbody id="events"></tbody>
        </table>
      </div>
    </div>

    <div class="footer">
      <div
        hx-get="/version"
        hx-target="#version"
        hx-trigger="load"
        mustache-template="version-template"
      >
        <span id="version">Event Tracker</span>
      </div>
      <div>Event Tracker</div>
      <div>
        <a
          class="icon-brands icon-baseline icon-space-sm icon-outside icon-github"
          target="_blank"
          href="https://github.com/jovandeginste/event-tracker"
          >GitHub</a
        >
      </div>
    </div>
  </body>
  <template id="notification-template">
    <script>
      {{#notifications}}
        showNotification("{{.}}", "notice", 5000);
      {{/notifications}}
      {{#alerts}}
        showNotification("{{.}}", "alert", 10000);
      {{/alerts}}
    </script>
  </template>
  <template id="event-template">
    {{#results}}
    <tr class="border-t border-gray-300">
      <td
        onclick="this.parentElement.nextElementSibling.classList.toggle('collapse');"
      >
        <span>{{ Summary }}</span>
      </td>
      <td title="{{ TimeRange }}" class="font-mono whitespace-nowrap">
        <span class="icon-baseline icon-before icon-regular icon-calendar">
          {{ HumanTimeRange }}
        </span>
      </td>
      <td>
        {{ #Categories }}
        <span class="category-pill">
          {{ . }}
          <span class="float-right mb-1">
            <a
              href="/feed/calendar?categories={{ . }}"
              class="icon-baseline icon-after icon-solid icon-calendar ml-1"
            ></a>
            <a
              href="#"
              hx-post="/events/{{ ID }}/category-rm/{{ . }}"
              hx-trigger="click"
              hx-target="#notifications-catch"
              hx-target-error="#notifications-catch"
              mustache-template="notification-template"
              class="icon-baseline icon-after icon-solid icon-square-xmark ml-1 cursor-pointer"
            >
            </a>
          </span>
        </span>
        {{ /Categories }} {{ #AICategories }}
        <span class="ai-category-pill">
          {{ . }}
          <span class="float-right mb-1">
            <a
              href="#"
              hx-post="/events/{{ ID }}/category-add/{{ . }}"
              hx-trigger="click"
              hx-target="#notifications-catch"
              hx-target-error="#notifications-catch"
              mustache-template="notification-template"
              class="icon-baseline icon-after icon-solid icon-square-plus ml-1 cursor-pointer"
            >
            </a>
          </span>
        </span>
        {{ /AICategories }}
        <input
          type="text"
          name="category"
          size="10"
          placeholder="new category"
          hx-post="/events/{{ ID }}/category-add"
          hx-trigger="keyup[keyCode==13]"
          hx-target="#notifications-catch"
          hx-target-error="#notifications-catch"
          mustache-template="notification-template"
        />
      </td>
      <td>
        <a
          class="icon-baseline icon-space-sm icon-before icon-solid icon-download"
          href="/events/{{ ID }}/ical"
          download="{{ ID }}.ics"
        ></a>
        <a
          class="icon-baseline icon-space-sm icon-before icon-solid icon-trash"
          href="#"
          hx-delete="/events/{{ ID }}"
          hx-target="#notifications"
          hx-target-error="#notifications"
          mustache-template="notification-template"
        ></a>
      </td>
    </tr>
    <tr class="collapse">
      <td colspan="4">
        <ul>
          <li>Summary: {{ Summary }}</li>
          <li>Description: {{ Event.Description }}</li>
          <li>Time: {{ TimeRange }}</li>
          <li>Categories: {{ Categories }}</li>
          <li>AI Categories: {{ AICategories }}</li>
        </ul>

        <ul>
          Properties: {{ #Event.Properties }}
          <li>{{ Name }}: {{ Value }}</li>
          {{ /Event.Properties }}
        </ul>
      </td>
    </tr>
    {{/results}}
  </template>
  <template id="version-template">
    Event Tracker,
    <a
      target="_blank"
      title="Build time: {{ BuildTime }}"
      href="https://github.com/jovandeginste/event-tracker/tree/{{ RefName }}"
    >
      {{ RefName }} ({{ Sha }})</a
    ></template
  >
</html>
